<div id="<%= dom_id participation %>">
  <p>
    <strong>Score:</strong>
    <%= participation.score %>
  </p>

  <p>
    <strong>Application:</strong>
    <%= participation.application_id %>
  </p>

  <p>
    <strong>Assessment:</strong>
    <%= participation.assessment_id %>
  </p>

</div>
