<h1>New assessment</h1>

<%= render "form", assessment: @assessment %>

<br>

<div>
  <%#= link_to "Back to assessments", job_assessments_path(@job) %>
  <%= link_to "Back to Job", job_path(@job) %>
</div>
