<!-- app/views/user_mailer/welcome_email.html.erb -->
<strong>Hi <%= @user.name %>,</strong>
<p>
  Congratulations, you are selected for the MCQ assessment round for the job: <%= @application.job.title %>
  To show details please follow this link: <%= link_to "show details", @url %>
</p>
<p>
  Regards,<br>
  Team WellRecruit
</p>