<div id="<%= dom_id application %>">

  <% if application.applied? %>
    <div class="alert alert-primary" role="alert">
      Your Application is in pending!
    </div>
  <% elsif application.selected? %>
    <div class="alert alert-info" role="alert">
      You are selected for the MCQ Assessment.
    </div>
  <% elsif application.passed? %>
    <div class="alert alert-success" role="alert">
      You've passed the MCQ Assessment.
    </div>
  <% else %>
    <div class="alert alert-danger" role="alert">
      We are unable to proceed with you!
    </div>
  <% end %>

  <% if participation(application).present? %>
    <div class="card">
      <div class="card-body">
        <strong>Your obtained score: </strong> <%= participation(application).score %>
      </div>
    </div>
  <% end %>

</div>
