<p style="color: green"><%= notice %></p>

<%= render @application %>

<div class="d-flex">
  <%#= link_to "Edit", edit_application_path(@application) %>
  <%= button_to "Cancel this application", @application, method: :delete, class: "btn btn-danger btn-sm" %>
</div>
