<p style="color: green"><%= notice %></p>

<%= render @application %>

<div class="d-flex">
  <%= button_to "Cancel this application", @application, method: :delete, class: "btn btn-danger btn-sm" %>
</div>
