<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between">
  <h1>My Jobs</h1>
  <%= link_to "New job opening", new_job_path, class: "btn btn-primary" %>
</div>

<%= render "job_card" %>
