<!DOCTYPE html>
<html>
  <body>
    <strong>Hello <%= @recruiter.name %>,</strong>
    <p>Congratulations! Your account has been approved by the admin.</p>
    <p>You can now <%= link_to "log in", @url %> to your account and start using the features available to you.</p>
    <p>Best regards,</p>
    <p>Team WellRecruit</p>
  </body>
</html>
