<p style="color: green"><%= notice %></p>

<div class="card mb-4">
  <%= render @company %>

  <% if @company.user == current_user %>
    <div class="card-footer d-flex">
      <%= link_to "Edit", edit_company_path(@company), class:"btn btn-warning btn-sm" %>&nbsp;
      <%= button_to "Delete", @company, method: :delete, class:"btn btn-danger btn-sm" %>
    </div>
  <% end %>
</div>