<%= form_with model: [@assessment, @application, participation], local: true do |f| %>

  <div>

  </div>
  <br>
  <%= link_to "Add More Question", "#", id: "add-question", class: "btn btn-success" %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
